<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
   
   <bean id="d" class="com.hefshine.bean.Date">

<constructor-arg name="birthdate" value="95"></constructor-arg>
<constructor-arg name="joiningdate" value="20"></constructor-arg>
</bean>

<bean id="emp" class="com.hefshine.bean.Employee">
<constructor-arg name="id" value="101"></constructor-arg>
<constructor-arg name="firstname" value="smita"></constructor-arg>
<constructor-arg name="lastname" value="bharat"></constructor-arg>


<constructor-arg name="date" ref="d"></constructor-arg>
</bean>
   </beans>